html{
  color: #ffffff;
  background-color: #ffffff;
  background: #ffffff;
}

body {
    background-color: #ffffff;
    background: #ffffff;
  
}

header{
background-color: #171717;
    color: #171717;
}


div{
  position: center;
  text-align: center;
}


.nav.navbar{
  content: center;
  position: fixed;
  background-color: black;
}
  
ul
{background-color: black;}
a {color: rgb(8, 8, 8);}
  
  h2{
    color: rgb(184, 132, 184);
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
  }

  figure{
    color: transparent;
  }
     img {
      width: 100%;
     }


     .logo.io{
      float: right;
      border-right: 50px;
     }
     
     h1{
       background-color: #ffffff;;
       text-align: center;
     }

     input {
     size: 15px 30px;
      text-align: center;
    }
  